.product-setting-wrapper {
    display: flex;
}

.product-settings {
    /* background-color: rgb(249,249,249); */
    background-color: lightblue;
    float: left;
    width: 22vw;
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e1e1e1;
}

.product-overview {
    background-color: lightgreen;
    flex-grow: 1;
}

.product-category {
    /* background-color: rgb(249,249,249); */
    background-color: rgb(255, 185, 209);
    width: 10vw;
    /* height: 90vh; */
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #e1e1e1;
}